.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;

  .navigation-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #39374c;

    .logo-container {
      text-decoration: none;
      margin-bottom: 60px;

      .logo {
        font-size: 32px;
        color: #cac8d5;
        font-weight: 700;
      }
    }

    .nav-link-container {
      display: flex;
      flex-direction: column;

      .nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #cac8d5;
        padding: 10px;
        padding-left: 20px;
        font-weight: 700;
        margin-top: 10px;

        &-logo {
          width: 15px;
          height: 15px;
          fill: #cac8d5;
          margin-right: 10px;
        }

        &:hover {
          color: #2f2f3d;
          background-color: #dcfc34;
          border-radius: 10px;
        }

        &:hover .nav-link-logo {
          fill: #2f2f3d;
        }
      }
    }
  }

  .content-container {
    padding: 40px;
    background-color: #2f2f3d;
  }
}
